@{
    ViewData["Title"] = "Home Page";
}


<h2 style="margin-left:50px ;color:blue">Book Management</h2>
<img src="~/images/books.jpeg" style="margin-left:150px"/>
<br />
<br />
<div class="container-fluid">
    <p>Bienvenue dans le site web Book Management pour tout fan de lecture et de livre ,qui permet l'ajout de livre dans une bibliothéque tout en spécifiant:</p>
    <ul>
        <li>Le Titre du livre</li>
        <li>l'Auteur</li>
        <li>La Categorie</li>
        <li>La Date de parution</li>
        <li>La Note d'appréciation</li>
    </ul>
    <br/>
    <p>Cela a pour objectif de rassembler toute une collection de livres dans une base de données pour que chaqque personne puisse voir les suggéstions des autres et proposer les siennes,en créant une atmosphère d'échange entre passionnés de livres.</p>
</div>
        
