@{
    ViewData["Title"] = "Home Page";
}


<h1 style="margin-left:50px ;color:brown">MediaLibrary-Management:</h1>
<img src="~/images/books.jpeg" style="margin-left:150px"/>
<br />
<br />
<div class="container-fluid">
    <h2><strong>Bienvenue au site web MediaLibraryManagement ,qui permet la gestion d'une médiathèque,où l'on peut ajouter deux types d'articles:</strong></h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col xs-6">
                <h3 style="color:indianred">Livres:</h3>
                <div class="well">
                    <p>Pour tout fans de lecture et qui souhaiterai voir un catalogue de livres dans la collection de la médiathèque avec les différentes notes moyennes d'appréciation d'autres lecteurs. </p>
                    <p>Chaque personne pourra ajouter un livre à notre collection en spécifiant:</p>
                    <div style="color:deepskyblue">
                        <ul>
                            <li>Le Titre du livre</li>
                            <li>l'Auteur</li>
                            <li>La Categorie</li>
                            <li>La Date de parution</li>
                            <li>La Note d'appréciation</li>
                        </ul>
                    </div>
                    <p>Cela permettra à d'autres lecteurs de voir les suggestions d'autres personnes et ainsi créer un échange d'idée et de suggestions entre passionnés de la lecture.</p>
                </div>
            </div>
            <div class="col xs-6">
                <h3 style="color:indianred">Jeux-Vidéos:</h3>
                <div class="well">
                    <p>Pour tout fans de jeux videos et qui souhaiterai voir un catalogue de jeux à essayer dans la collection de la médiathèque avec les différentes notes moyennes d'appréciation d'autres fans d'action et de jeux videos. </p>
                    <p>Chaque personne pourra ajouter un jeu video à notre collection en spécifiant:</p>
                    <div style="color:deepskyblue">
                        <ul>
                            <li>Le Titre du Jeu</li>
                            <li>Le Genre</li>
                            <li>La Developper</li>
                            <li>La Plateforme</li>
                            <li>La Date de sortie du jeu</li>
                            <li>La Note d'appréciation du jeu</li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
    </div>
     <p>MediaLibrary-Management a pour objectif de rassembler toute une collection de livres et de jeux vidéos dans un catalogue pour que chaque faciliter l'échange entre passionnés de lecture et de jeux-videos.</p>
</div>

